body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
  margin-top: 100px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.newCatForm {
  /* background-size: cover; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.newCatForm .container {
  /* min-width: 400px;
  min-height: 450px; */
  /* box-shadow: 0px 0px 10px #cccccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.newCatForm .container .img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.newCatForm .container .heading h4 {
  color: #4b8eb2;
  font-size: 35px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.newCatForm .container .form-fields {
  flex-direction: column;
  width: 100%;
}

.newCatForm .container .form-fields .input-box {
  margin-bottom: 10px;
  width: 96%;
}
.newCatForm .container .form-fields .field-titles {
  /* position: relative; */
  color: #1d1d1d;
  font-size: 15px;
  text-align: left;
  margin-bottom: 2px;
}

.newCatForm .container .form-fields .form-control {
  height: 38px;
  width: 100%;
  padding: 0px 0px 0px 0px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

.newCatForm .container .form-fields .form-inputs {
  height: 17px;
  width: 100%;
  text-align: left;
  border: 1px solid #d6d5d5;
}

.newCatForm .container .form-fields .input-box {
  margin: 8px 0;
  /* this is where we had 12px padding left */
  font-size: 15px;
}

.newCatForm .container .form-fields .button-container {
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  justify-items: center;
}

.newCatForm .container .form-fields .button-container button {
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  background-color: #80987f;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.newCatForm .container .form-fields .button-container a {
  width: 100%;
}
.newCatForm .container .form-fields .button-container button:hover {
  background-color: #414855;
}

.newCatForm .container .form-fields .submitButton-container {
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  justify-items: center;
  /* width: 100%;
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 23px; */
  /* margin-right: 13px;
  margin-left: 13px; */
  /* padding: 15px; */
}

.identity-form .container .form-fields .submitButton-container {
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  justify-items: center;
}

.newCatForm .container .form-fields .submitButton-container button {
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  background-color: #e54567;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  /* color: #ffffff;
  font-size: 16px;
  padding: 15px;
  background-color: #e54567;
  border: none;
  border-radius: 10px;
  /* margin-right: 0px; */
  /* width: 50%; */
}

.identity-form .container .form-fields .submitButton-container button {
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  background-color: #e54567;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.newCatForm .container .form-fields .submitButton-container button:hover {
  background-color: #414855;
}

.identity-form .container .form-fields .submitButton-container button:hover {
  background-color: #414855;
}

.form-title {
  font-size: 25px;
  font-weight: 100;
  padding-top: 20px;
  margin: 0px;
}

.newCatForm {
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  overflow: scroll;
  align-items: center;
}

.identity-form {
  display: flex;
  justify-content: center;
  overflow: scroll;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.newCatForm .container {
  /* min-width: 400px;
  min-height: 450px; */
  /* box-shadow: 0px 0px 10px #cccccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  background-color: #e2dde1;
  border-radius: 20px;
}

.identity-form .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  background-color: #e2dde1;
  border-radius: 20px;
}

.newCatForm .container .heading h4 {
  color: #f4705a;
  font-size: 35px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.newCatForm .container .form-fields {
  flex-direction: column;
  width: 40%;
}

.identity-form .container .form-fields {
  flex-direction: column;
  width: 40%;
}

.newCatForm .container .form-fields .input-box {
  margin-bottom: 10px;
  width: 96%;
}

.identity-form .container .form-fields .input-box {
  margin-bottom: 10px;
  width: 96%;
}

.newCatForm .container .form-fields .field-titles {
  /* position: relative; */
  color: #1d1d1d;
  font-size: 15px;
  text-align: left;
  margin-bottom: 2px;
}

.newCatForm .container .form-fields .profile-titles {
  /* position: relative; */
  color: #757373;
  font-size: 18px;
  justify-self: center;
  margin-bottom: 2px;
}

.newCatForm .container .form-fields .profile-titles span {
  /* position: relative; */
  font-weight: normal;
  color: #4b8eb2;
}

.newCatForm .container .form-fields .form-control {
  height: 38px;
  width: 100%;
  padding: 0px 0px 0px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 12px;
}

.identity-form .container .form-fields .form-control {
  height: 38px;
  width: 100%;
  padding: 0px 0px 0px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 12px;
}

.newCatForm .container .form-fields .form-inputs {
  height: 17px;
  width: 100%;
  text-align: left;
  border: 1px solid #d6d5d5;
}

.newCatForm .container .form-fields .input-box {
  margin: 8px 0;

  font-size: 15px;
}

.identity-form .container .form-fields .input-box {
  margin: 8px 0;

  font-size: 15px;
}
.toggle-switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-switch-container {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.toggle-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.toggle-switch-label .toggle-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 25px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle-switch:checked + .toggle-switch-label .toggle-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle-switch:checked + .toggle-switch-label {
  background-color: #c34e4d;
}

.toggle-switch-label:active .toggle-switch-button {
  width: 45px;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.6;
  box-sizing: border-box;
  line-height: 16px;
  position: relative;
  align-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}

.total-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 20px 30px;
}

.cat-title {
  display: flex;
  height: 30px;
  padding-top: 15px;
}

.nav-container {
  align-self: flex-end;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  max-width: 1920px;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 16px;
  color: #626950;
  text-decoration: none;
}

.nav-item:hover {
  font-weight: bold;
}

.selected {
  font-weight: bold;
}

.title {
  align-self: center;
  padding-left: 5px;
  font-size: 30px;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
